

<div class="toolbar">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDUyLjFMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
     
    <button class="ms-2 btn btn-primary" routerLink="/home/bienvenido">Bienvenido</button>   
    <button class="ms-2 btn btn-primary" routerLink="/home/alta-producto">Alta Producto</button>   
    <button class="ms-2 btn btn-primary" routerLink="/home/detalle-producto">Detalle Producto</button>   
    <button class="ms-2 btn btn-primary" routerLink="/home/tabla-producto">Tabla Producto</button>   
    <button class="ms-2 btn btn-primary" routerLink="/home/container">Container</button>   
     
    <button class="ms-2 btn btn-primary" (click)="onClick()" >Log Out</button>       
  </div>